[2013-09-21 08:44] yegor256 opened #1 "doesn't work on Windows"
It doesn't work on Windows at the moment, let's find a way to fix it.

[2013-09-21 11:45] krzyk opened #2 "Plugin expects tar in /usr/bin"
When I run build of rultor I get error from `com.jcabi:jcabi-dynamodb-maven-plugin`:

[code]

Usual place where tar should be located is /bin not /usr/bin, the later should be optional, not default.
The best way to solve this would be to first check if /bin/tar or /usr/bin/tar exists and then call it, or even beter call just `tar` without the directory.

[2013-09-21 15:02] #1 closed, assigned to nobody

[2013-09-21 15:06] yegor256 opened #3 "doesn't work on Linux amd64"
see https://github.com/rultor/rultor/issues/342

[2013-09-21 15:19] #3 closed, assigned to nobody

[2013-10-13 16:58] yegor256 opened #4 "move DynamoDBLocal artifact to Maven Central"
Let's deploy it to Maven Central

[2013-10-13 17:16] yegor256 opened #5 "parallel execution"
Parallel execution of multiple DynamoDBLocal instances should be tested and implemented. I believe it doesn't work now

[2013-10-13 17:25] #4 closed, assigned to nobody

[2013-10-13 17:46] #5 closed, assigned to nobody

[2013-10-14 17:25] ghost opened #6 "Incompatible with Jacoco"
If I have Jacoco configured in my project, then this plugin is failing completely:

[code]

Removing it seems to allow the plugin to run, but it also seems to successfully not run any tests either:

[code]

[2013-10-17 12:36] amohanse opened #7 "Enhance the plugin to mention explicit JVM path"
Hi,

Enhance : Would be nice if the plugin could be configured with its own JDK.

/Mohan

[2013-10-18 12:56] amohanse opened #8 "plugin is not JDK 1.6 compatible"
When jdk7 is used in <home> under configuration, the jarchivelib failed.

[2013-10-19 16:02] ghost opened #9 "stop goal reports a WARNING"
The following appears when the stop goal is triggered - it appears that the dynamodb instance is correctly stopped by the goal, but the resulting stack trace is alarming.

[code]

The (slightly edited) pom.xml in question is shown below. Note that this is slightly different to the examples, as I'm running DynamoDB Local during unit tests, not integration tests.

[code]

[2013-10-20 08:16] yegor256 opened #10 "get rid of org.rauschig:jarchivelib"
Let's get rid of `org.rauschig:jarchivelib` and use maven dependency plugin instead

[2013-10-20 08:55] #10 closed, assigned to nobody

[2013-10-24 09:12] #8 closed, assigned to nobody

[2013-10-24 09:16] amohanse opened #11 "Dynamo db instance is not getting killed when JUnit fails"
Hi,

The dynamo db instance is not getting killed when Junit fails. Side effect is, mvn clean is failing in next iteration since the DynamoDB.jar in target dir is still in use.

[2014-01-06 07:32] #9 closed, assigned to nobody

[2014-01-07 08:29] #7 closed, assigned to nobody

[2014-01-07 08:30] #11 closed, assigned to nobody

[2014-01-07 13:37] #2 closed, assigned to nobody

[2014-01-28 09:36] #6 closed, assigned to nobody

[2014-01-28 20:53] yegor256 opened #13 "command line params of DynamoDBLocal"
Let's update the library to support the latest DynamoDBLocal (2014-01-08) and its command line parameters according to their documentation:
http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html

[2014-02-03 08:32] #13 closed, assigned to nobody

[2014-03-09 15:20] yegor256 opened #14 "use com.jcabi:jcabi 1.4"
let's use `com.jcabi:jcabi:1.4` as a parent `pom`.

[2014-03-11 07:55] #14 closed, assigned to nobody

[2014-04-22 18:43] yegor256 opened #16 "create tables on pre-integration-test phase"
Would be great to automate table creation on pre-integration-test, through plugin configuration, for example:

[code]

In `first.json` we will keep JSON according to this spec: http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateTable.html

On `start` goal execution, the plugin will create a table, using JSON as an argument for CreateTable call. On `stop` goal it will drop the

[2014-04-29 12:43] #16 closed, assigned to nobody

[2014-05-04 08:09] yegor256 opened #18 "GSI and LSI are not supported by create-table"
`create-table` mojo doesn't support global and local secondary indexes, as specified here: http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateTable.html

[2014-05-07 12:59] #18 closed, assigned to nobody

[2014-08-19 06:17] yegor256 opened #20 "skin 1.4"

[2014-08-19 06:34] #20 closed, assigned to nobody

[2014-09-17 19:34] ratabora opened #21 "NPE with template code"
Hey all,

I think I'm messing something up ... I'm trying to use this library based on the information provided here: http://dynamodb.jcabi.com/usage.html

I'm getting the following NPE:

[code]

Is there anything missing from the documentation? Has anyone seen this before? I'm guessing I'm setting something up wrong.

[2014-09-17 22:01] #21 closed, assigned to nobody

[2014-10-04 03:30] chadselph opened #22 "Add new version of DynamoDBLocal to maven central"
Based on this, the latest version of the artifact in maven is 2014-01-08:

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.jcabi%22%20AND%20a%3A%22DynamoDBLocal%22

Amazon has a new version, 2014-04-24: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html

[2014-11-11 13:04] mushtaq opened #23 "Empty line before XML declaration in pom.xml breaks sbt/ivy"
cabi-dynamodb-maven-plugin / deploy / pom.xml begins with a empty line. This is an error. Most parsers will fail with "The processing instruction target matching "[xX][mM][lL]" is not allowed" based on the google search. Can you please publish a new version with correction?

Thanks.

[2014-11-11 16:27] ghost opened #24 "Add new version of DynamoDB Local"
Amazon has a new version of DynamoDB Local 2014-10-07

http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html

[2014-11-11 19:03] #22 closed, assigned to nobody

[2014-11-18 15:32] #23 closed, assigned to nobody

[2014-11-21 16:24] #24 closed, assigned to nobody

[2014-12-15 21:50] mohitanchlia opened #25 "maven error"
When I configure plugin in eclipse I get the following error:

maven-dependency-plugin (goals "copy-dependencies", "unpack") is not supported by m2e.

[code]

[2015-01-08 16:42] maurezen opened #26 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 12:50] dmarkov commented on #26
this task will get someone's attention soon

[2015-01-09 12:53] dmarkov commented on #26
@maurezen thank you for the ticket reported, I topped your account for 15 mins, transaction `49998829`

[2015-01-12 13:20] dmarkov commented on #26
@romankisilenko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-21 12:06] RomanKisilenko commented on #26
Hello, PR merged and closed, please close this issue.

[2015-01-21 12:08] #26 closed

[2015-01-21 22:55] maurezen opened #28 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 12:53] dmarkov commented on #26
@romankisilenko **30 mins** added to your account (payment number `50597124`), many thanks for your contribution!. +30 to your rating, your total score is +90

[2015-04-07 08:00] dmarkov opened #29 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:16] dmarkov opened #30 "0.8"
Please, publish a new release **0.8** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:56] dmarkov opened #31 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-12 07:37] dmarkov commented on #30
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-13 11:54] cast opened #32 "New DynamoDB local version 2015-04-27"
A new version of the DynamoDB local version can be downloaded.

http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html

It does seem to fix issues related to scanning global secondary indexes which I had when using the previous DynamoDB local.

[2015-05-14 07:38] dmarkov commented on #30
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-06-01 07:03] dmarkov commented on #31
@yegor256 I am closing it, thanks all

[2015-06-01 07:03] #31 closed

[2015-06-04 08:19] dmarkov commented on #29
@yegor256 Thanks all, closed

[2015-06-04 08:19] #29 closed

[2015-06-04 08:19] dmarkov commented on #30
@yegor256 The task is done, thanks all, I am closing it

[2015-06-04 08:19] #30 closed

[2015-06-10 10:42] YamStranger opened #33 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-11 16:25] gadieichhorn commented on #32
Have the same index issues. Getting null when I try to get the table description request and manipulate the indexes.

How do I get to use the new version from the plugin?
it is not a supported version yet.
Can you share instructions how to get it installed locally?

[2015-06-15 07:31] dmarkov commented on #28
@yegor256 please dispatch this issue

[2015-06-15 07:31] dmarkov commented on #32
@yegor256 dispatch this issue please

[2015-06-15 07:31] dmarkov commented on #33
@yegor256 please do something about this issue

[2015-06-16 22:29] YamStranger commented on #33
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-19 14:17] mbomio opened #34 "UpdateTable operation throws LimitExceededException"
Hi, I am trying to update the provisioned throughput for a table changing the throughput from 1 to 300 (read and write). This is what I am doing:
[code]

This is throwing the following exception:
`
Cannot increase provisioned throughput to more than twice current value (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: LimitExceededException; Request ID: 7a73dc40-bc86-479e-9c4e-a82c9a7f7dfd

[2015-06-22 22:32] yegor256 commented on #33
@YamStranger fixed in https://github.com/jcabi/jcabi-dynamodb-maven-plugin/commit/1164fc4f1eb079e5ff59e1777c34456338a571fc

[2015-06-22 22:32] #33 closed

[2015-06-23 07:26] dmarkov commented on #34
@yegor256 dispatch this issue please

[2015-06-23 20:34] yegor256 commented on #34
@mbomio well, you should see it in real DynamoDB too. Indeed, you can't increase the throughput more than twice in one go. see http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html

[2015-06-23 20:34] #34 closed

[2015-06-24 01:51] yegor256 commented on #28
@maurezen fixed in 6d3dcbf thanks

[2015-06-24 01:51] #28 closed

[2015-06-24 01:52] yegor256 commented on #32
@cast @gadieichhorn I will release it now...

[2015-06-24 02:38] yegor256 commented on #32
@cast @gadieichhorn version 2015-04-27 released, see http://repo1.maven.org/maven2/com/jcabi/DynamoDBLocal/

[2015-08-25 08:55] ieiayaobb commented on #32
version 2015-07-16 has released.

[2015-09-10 08:25] ieiayaobb opened #35 "Is it possible to make this plugin running as a long process?"
[code]
I see a ShutdownHook here, so it will stop the DynamoDB after maven process.
What I want to do is making it running as a service, is it possible?

[2015-09-10 10:54] ieiayaobb opened #36 "New DynamoDB local version 2015-07-16 has released"
Please check this url and help to upgrade, thank you.
http://dynamodb-local.s3-website-us-west-2.amazonaws.com/dynamodb_local_2015-07-16_1.0.zip

[2015-09-14 08:40] dmarkov commented on #35
@yegor256 please do something about this issue

[2015-09-14 08:40] dmarkov commented on #36
@yegor256 please do something about this issue

[2015-09-14 10:55] yegor256 commented on #35
@ieiayaobb just run Maven as a background process:

[code]

Make sense?

[2015-09-14 13:44] ieiayaobb commented on #35
@yegor256 Thank you very much :)

[2015-09-14 13:44] #35 closed

[2015-09-21 16:31] tfeak commented on #25
This is an oddity of the Eclipse maven plugin. There are a few solutions to be found on Stack Overflow. The most complete answer I've found is here: https://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.html

But the simplest solution I found was to go to the Eclipse Maven preferences and under "Errors/Warning" set the handling of this particular issue to "Ignore"

[2015-09-26 21:44] yegor256 commented on #36
@ieiayaobb released, see 6a72500 Please check and close the ticket if it works for you

[2015-09-28 02:05] ieiayaobb commented on #36
Checked, it's OK now, Thanks a lot

[2015-09-28 02:05] #36 closed

[2015-11-18 14:24] esemsch opened #38 "Separate Maven-independent logic so that the project can be used as a library"
Hello,

This is a very useful piece of functionality and I believe it may be too tightly coupled with Maven.  Is there any chance the "meat" of the plugin can be separated out from the Maven mojos to a different package so that we can use it as a library?  We would like to run the local dynamo directly from IntelliJ when executing JUnit tests.

Keep up the good work!

Eduard

[2015-11-23 10:31] dmarkov commented on #38
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-11-24 17:02] keithbranton opened #39 "create-tables goal expects provisioned throughput to be a string not a number"
Thanks for the really useful plugin. Found a minor problem...

When the `aws dynamodb create-table --generate-cli-skeleton` is issued these are numbers.

This difference means I can't use the same file for creating the table in my local environment using `aws dynamodb create-table --cli-input-json table.json`

I realize that you will want to maintain backward compatibility, but it should be easy t

[2015-11-30 09:10] dmarkov commented on #39
@yegor256 please dispatch this issue

[2015-11-30 19:42] yegor256 commented on #39
@keithbranton thanks for the ticket! Would be great if you can contribute with a pull request!

[2015-12-07 17:05] yegor256 commented on #38
@esemsch yes, it's possible, of course. we'll try to do it.

[2015-12-07 17:58] esemsch commented on #38
Brilliant, looking forward to it.  Thanks for your great work!

Eduard

[2015-12-24 10:46] dmarkov opened #42 "RunMojo.java:43-45: Let's avoid code duplication between..."
Puzzle `41-e81ff08d` in `src/main/java/com/jcabi/dynamodb/maven/plugin/RunMojo.java:43-45` has to be resolved: Let's avoid code duplication between this class and `StartMojo`. One idea is to create a decorator called `ThreadedMojo` that receives another mojo in its constructor and, when called, runs it inside a thread.... The puzzle was created by Denis N. Antonioli on 17-Dec-2015.

If you have an

[2016-01-07 07:01] simonjenga opened #45 "command line arguments for StartMojo and RunMojo"
The command line arguments for ```com.jcabi.dynamodb.maven.plugin.StartMojo``` and ```com.jcabi.dynamodb.maven.plugin.RunMojo``` are not specified anywhere in the project's files or documentation.

These are the same Command line arguments of DynamoDBLocal as indicated in ```com.jcabi.dynamodb.maven.plugin.AbstractDynamoMojo#args()```

An example of a command line argument may be: ```mvn clean pac

[2016-01-07 11:08] dmarkov commented on #42
@jrdalpra please proceed, it's yours

[2016-01-07 11:56] dmarkov opened #46 "Instances.java:54-54: Let's avoid code duplication between......"
Puzzle `42-3038f9e6` in `src/main/java/com/jcabi/dynamodb/maven/plugin/Instances.java:54-54` has to be resolved: Let's avoid code duplication between... The puzzle was created by Simon N on 31-Dec-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2016-01-07 11:56] dmarkov commented on #42
@yegor256 there is a puzzle in this code `42-3038f9e6`/#46, we'll resolve it later

[2016-01-07 11:59] jrdalpra commented on #42
@dmarkov there's no puzzle here https://github.com/jcabi/jcabi-dynamodb-maven-plugin/blob/master/src/main/java/com/jcabi/dynamodb/maven/plugin/RunMojo.java#L43

[2016-01-07 12:20] jrdalpra commented on #42
@dmarkov I don't really think that this is a good issue. There's no code duplication here. https://github.com/jcabi/jcabi-dynamodb-maven-plugin/blob/master/src/main/java/com/jcabi/dynamodb/maven/plugin/Instances.java already encapsulates all the work.

[2016-01-07 16:55] jrdalpra commented on #42
@denisa can you explain this issue to me? Thanks.

[2016-01-07 17:06] pinaf commented on #42
@jrdalpra the difference between `RunMojo` and `StartMojo` seems to be just the threading.

[2016-01-07 17:15] denisa commented on #42
StartMojo launches dynamodb on a thread; the thread is killed once the jvm ends.
So, calling mvn dynamodb:start will launch dynamodb, then end the jvm and kill dynmodb

RunMojo launches dynamodb on the main thread.
So, calling mvn dynamodb:run will launch dynamodb and never return.

--
Two ways to build software:
 (1) make it so simple that there are obviously no bugs,
 (2) make it so complicated

[2016-01-07 17:18] jrdalpra commented on #42
@pinaf @denisa I don't see any difference at both implementation. Both users start method at Instance class. Only differences are the name and the maven build phase. What's the point?

[2016-01-07 17:20] pinaf commented on #42
@jrdalpra the difference is that one starts a new thread, the other doesn't.

[2016-01-07 17:22] jrdalpra commented on #42
@pinaf I'm not seeing this difference at souce code. Can you show me line? Thanks.

[2016-01-07 17:23] pinaf commented on #42
@jrdalpra here's what happened: #43

[2016-01-07 17:24] pinaf commented on #42
@yegor256 looks like this issue is invalid as @simonjenga fixed it in another PR (#43)

[2016-01-07 17:28] jrdalpra commented on #42
@yegor256  @dmarkov  @pinaf :) That's true. We are trying to solve something that's already solved. :)

[2016-01-07 17:28] jrdalpra commented on #42
@dmarkov can you close the issue? thanks.

[2016-01-08 12:15] dmarkov commented on #42
@yegor256 Closing, thanks all

[2016-01-08 12:15] #42 closed

[2016-01-08 12:16] dmarkov commented on #42
@jrdalpra Much obliged! I have added **1 hour** to your account in payment "AP-3MN93852HE477612F", 49 mins spent... m=49, that's why a bonus here for fast delivery... added +60 to your rating, now it is equal to [+218](http://www.netbout.com/b/36044?open=rating)

[2016-01-11 08:41] dmarkov commented on #42
@jrdalpra closed

[2016-01-11 08:43] dmarkov commented on #45
@yegor256 please dispatch this issue

[2016-01-11 10:19] jrdalpra commented on #42
@dmarkov thanks :)

[2016-01-11 12:21] dmarkov commented on #42
@jrdalpra no problem :)

[2016-01-13 11:12] sergiovm opened #47 "Error while using create-tables goal in conjunction with arguments (inMemory, ...)"
We are getting an error when usin create-tables goal and -inMemory, -sharedDb arguments.

This is our pom.xml:
[code]

And the output we are getting is:
[code]
It seems dynamodb is starting properly but then fails in table creation goal due to the arguments.

[2016-01-18 07:36] dmarkov commented on #47
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-18 23:26] yegor256 commented on #47
@rultor release, tag is `0.7.2`

[2016-01-18 23:26] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6438-172680402)

[2016-01-18 23:37] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6438-172680402) (took me 11min)

[2016-01-18 23:40] yegor256 commented on #47
@sergiovm this is very strange, since all our tests pass without issues, both on Linux and Windows. can you please try version 0.7.2?

[2016-01-19 09:11] sergiovm commented on #47
The issue is fixed in version 0.7.2! Thanks a lot!

[2016-01-19 09:11] #47 closed

[2016-01-19 09:53] dmarkov commented on #46
@piddubnyi the task is yours

[2016-01-26 05:00] yegor256 commented on #45
@simonjenga they are specified here: http://dynamodb.jcabi.com/run-mojo.html

[2016-01-26 05:00] #45 closed

[2016-01-26 10:06] dmarkov commented on #46
@yegor256 Done, thanks all, closing..

[2016-01-26 10:06] #46 closed

[2016-01-26 10:06] dmarkov commented on #46
@piddubnyi I don't see any messages from you above, not sure if there was actual contribution (correct me if I'm wrong)

[2016-01-26 10:07] dmarkov commented on #38
@piddubnyi it's your task, go ahead

[2016-01-26 10:08] piddubnyi commented on #46
@dmarkov The issue is fixed in #48 and merged. Please close.

[2016-01-27 08:32] dmarkov commented on #46
@piddubnyi thanks for that

[2016-01-28 17:13] mkordas opened #51 "Fix Qulice warnings in the code"
Qulice `0.15.5` detected the following problems in the code:

[code]

Let's fix all of them and update Qulice to the latest version. Otherwise, code reviewers need to manually spot missing `@since` tags, non static methods or too long lines.

[2016-02-01 09:25] dmarkov commented on #51
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-05 10:20] piddubnyi commented on #38
@esemsch The initial issue is fixed and merged. Additional puzzles added for following refactoring.
Please close this one.

[2016-02-05 10:23] esemsch commented on #38
@piddubnyi - thanks a lot, this is brilliant!  Closing this issue now.

[2016-02-05 10:23] #38 closed

[2016-02-08 07:38] dmarkov commented on #38
@piddubnyi thanks, I just added **30 mins** to your account, payment `76661197`, 242 hours and 8 mins spent. +30 to your rating, your total score is [+270](http://www.netbout.com/b/35966?open=rating)

[2016-02-08 11:51] dmarkov opened #52 "package-info.java:37-38: Logic of the plugin should..."
Puzzle `38-e3be1969` in `src/main/java/com/jcabi/dynamodb/core/package-info.java:37-38` has to be resolved: Logic of the plugin should be extracted from maven mojos to this package to allow directly running local dynamodb.... The puzzle was created by Igor Piddubnyi on 29-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2016-02-08 11:51] dmarkov commented on #38
@esemsch once `38-e3be1969`/#52 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-02-16 12:03] dmarkov commented on #52
@amihaiemil please proceed, it's yours

[2016-02-29 20:48] amihaiemil commented on #52
@dmarkov I created PR #54 for this issue. Please assign a reviewr. Thanks.

[2016-03-02 13:04] dmarkov commented on #52
@amihaiemil you're holding this task for 15 days already; as a reminder, don't forget to remove the `@todo` puzzle from the source code; -30 added to your rating, current score is: [+15](http://www.netbout.com/b/36402?open=rating)

[2016-03-02 13:06] amihaiemil commented on #52
@dmarkov Everything is done already - PR is merged and closed and puzzle removed from the code.

[2016-03-02 13:07] amihaiemil commented on #52
@dmarkov Just deploy the PR and this issue can be closed. Thanks.

[2016-03-03 07:20] dmarkov commented on #52
@amihaiemil sure

[2016-03-03 21:05] amihaiemil commented on #52
@dmarkov  PR #54 is merged and closed. It can be deployed and this issue closed. Thanks.

[2016-03-07 07:53] dmarkov commented on #52
@amihaiemil thanks

[2016-03-07 07:55] dmarkov commented on #52
@amihaiemil **30 mins** added to your account (payment number `AP-8N283026917874325`), many thanks for your contribution! 405 hours and 43 mins spent here.; +30 added to your rating, at the moment it is: [+75](http://www.netbout.com/b/36402?open=rating)

[2016-03-07 09:39] dmarkov commented on #42
@yegor256 last puzzled solved `42-3038f9e6`/#46

[2016-03-07 09:40] dmarkov commented on #52
@yegor256 I'm closing the issue...

[2016-03-07 09:40] #52 closed

[2016-03-21 02:34] ieiayaobb commented on #32
version 2016-03-01 has released

[2016-03-28 18:17] amihaiemil opened #55 "Abstract method instead of "intentional empty implementation""
In the class ``AbstractDynamoMojo`` there is the method
[code]

Why not make it abstract and really let all the subclasses implement it and decide whether to give an empty implementation or not?

Making it abstract would mean implementing it also in the classes ``StopMojo`` and ``CreateTablesMojo`` (also overwrite the access modifier since the 2 classes are final and can't have protected methods)

[2016-03-31 20:52] amihaiemil commented on #55
@dmarkov Can you do something about this pls? Thanks.

[2016-04-04 12:33] dmarkov commented on #55
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-04-18 08:43] dmarkov commented on #55
@amihaiemil thanks for reporting! I topped your account for 15 mins, transaction AP-3J652596RY335922E

[2016-04-18 10:30] dmarkov commented on #38
@esemsch the last puzzle `38-e3be1969`/#52 solved

[2016-04-18 12:09] alejandroluque commented on #38
Hello all,

Thank you very much for this new feature! But we see that these changes have not been released yet in a new tag, they are in master, is it correct?. In that case, when are you planning to do a new tag in order to work in a stable version?

Thank you in advance and good work!

[2016-04-25 07:19] agluque opened #56 "Release including #38"
Hello all,

Thank you very much for #38 ! But we see that these changes have not been released yet in a new tag, they are in master, is it correct?. In that case, when are you planning to do a new tag in order to work in a stable version?

Thank you in advance and good work!

[2016-04-28 08:21] dmarkov commented on #56
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-03 13:11] yegor256 commented on #38
@rultor release, tag is `0.8`

[2016-05-03 13:11] yegor256 commented on #56
@agluque version 0.8 will be released in #38 thanks for reminding.

[2016-05-03 13:11] #56 closed

[2016-05-03 13:11] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8231-216522244)

[2016-05-03 13:15] agluque commented on #56
Thank you very much guys.

[2016-05-03 13:28] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8231-216522244) (took me 17min)

[2016-05-27 01:53] keithbranton commented on #39
This was part of the 0.7.2 release - closing...

[2016-05-27 01:53] #39 closed

[2016-07-05 23:53] devdanke opened #57 "DynamoDB startup port problem"
I ran into a problem with this plugin.

Although I configured Maven to generate and pass a random socket port to start DynamoDB on, that port number is ignored.  Instead the plugin uses port 10101.

I do not know where port 10101 is defined.  Even if I did, I'd like the plugin to ignore it and to start Dynamo with the random port generated in the pom.

The plugin uses the correct random port when

[2016-07-11 08:00] dmarkov commented on #57
@yegor256 please dispatch this issue

[2016-07-22 20:13] yegor256 commented on #57
@devdanke see how it's done in this project, for example: https://github.com/yegor256/jare helps?

[2016-08-29 12:28] dmarkov commented on #55
@prondzyn can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-08-29 13:26] prondzyn commented on #55
@dmarkov PR #58 is ready for this.

[2016-08-30 07:53] dmarkov commented on #55
@prondzyn thanks for that

[2016-09-05 05:01] prondzyn commented on #55
@dmarkov I need more time. Still waiting on PR confirmation.

[2016-09-05 07:18] dmarkov commented on #55
@prondzyn OK, no problem, take your time

[2016-09-05 19:23] prondzyn commented on #55
@amihaiemil PR merged. Please close the task.

[2016-09-05 19:27] amihaiemil commented on #55
@prondzyn cool, thanks

[2016-09-05 19:27] #55 closed

[2016-09-07 11:32] dmarkov commented on #55
@prondzyn Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-6X588605WY200774V`, total time was 187 hours and 58 mins. +30 added to your rating, at the moment it is: [-30](http://www.netbout.com/b/35715?open=rating)

[2016-10-05 14:40] rbodoque opened #59 "GlobalSecondaryIndexes with projection creates the field with double quotation marks"
Hello
I have a json definition like that

[code]

As you can see in the Projection of the GlobalSecondaryIndexes there is one field "FirstName" that needs to be projected to the index.

When I create the table by maven and then query Dynamo for describe the table it returns:

[code]
As you can see the projection is created with double quotation marks

Projection: {ProjectionType: INCLUDE,NonKeyAtt

[2016-10-10 08:53] dmarkov commented on #59
@yegor256 please dispatch this issue

[2016-10-13 17:23] jcogilvie opened #60 "Dynamo killing its jvm"
Using the latest version that this project supports, dynamo is killing its JVM.  I'm hoping that updating to the latest local dynamo can help with this (2016-05-17).  Could you publish that artifact and make whatever changes are necessary in the plugin for compatibility?

[hs_err_pid7079 .txt](https://github.com/jcabi/jcabi-dynamodb-maven-plugin/files/527764/hs_err_pid7079.txt)

[2016-10-17 07:21] dmarkov commented on #60
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-22 14:56] niyue opened #62 "What is the difference between start and run goals?"
I read the doc about these two goals, `start` and `run`:
http://dynamodb.jcabi.com/start-mojo.html
http://dynamodb.jcabi.com/run-mojo.html
But I couldn't understand what the exact difference is between them.

I expected the `mvn jcabi-dynamodb:run` goal to work like `mvn jetty:run`, which starts a long running daemon and doesn't quit immediately. But it turned out not to work as I expected and the

[2016-11-23 07:37] yegor256 commented on #59
@rbodoque I'm not sure I understand the problem. What do you expect to see there instead of `"FirstName"`? Also, this code:

[code]

is equivalent to:

[code]

[2016-11-28 07:56] dmarkov commented on #62
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-12-21 17:17] jcogilvie commented on #60
This was a configuration flaw in our build.  Due to a race condition, the dynamo executable was being overwritten by another dynamo executable while it was running.

[2016-12-21 17:17] #60 closed

[2017-02-21 12:06] loic-seguin opened #63 "java.net.ConnectException with two modules"
Hi,

I tried your plugin following this page http://dynamodb.jcabi.com/usage.html.
I used the three goals 'start', 'create-tables' and 'stop'.

It works well with one module.

But when we have two modules, if we run 'mvn clean verify' in each module everything goes well but if we run this command at the pom parent level, we get a java.net.ConnectException at the 'create-tables' goal for the second

[2017-02-21 12:06] 0crat commented on #63
@yegor256 please, pay attention to this issue

[2017-03-08 17:38] jherimum opened #64 "Where credentials are defined?"
Where credentials are defined?

[2017-03-08 17:38] 0crat commented on #64
@yegor256 please, pay attention to this issue

[2017-03-20 19:56] rbodoque commented on #59
Hello @yegor256 sorry for the late response, Time ago that I'm not working with this.

I think assumption is not correct I mean =>
x = (JsonString) y;
print(y.toString());
is equivalent to:

print(x.toString());

for show you I've created this simple test  https://github.com/rbodoque/-jacabitest.git

the test is the method

[code]
If both were the same it print FirstName twice but what is printing

[2017-03-27 11:21] slolo83510 commented on #63
Please, can I have feedback concerning this issue ?

[2017-03-27 11:22] loic-seguin commented on #63
Hi,

Could I have feedback concerning this issue ?

[2017-04-03 16:46] yegor256 commented on #64
You don't need them with DynamoDB Local. Use anything you like.

[2017-04-03 16:47] 0crat commented on #64
@yegor256 please, ask @jherimum to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-04-03 16:47] 0crat commented on #64
@yegor256 please, pay attention to this issue

[2017-04-03 16:47] #64 closed

[2017-04-03 16:48] yegor256 commented on #63
@loic-seguin yes, please submit a pull request. Thanks!

[2017-04-03 16:54] yegor256 commented on #62
@rultor release, tag is `0.8.1`

[2017-04-03 16:55] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11307-291204040)

[2017-04-03 17:10] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11307-291204040) (took me 15min)

[2017-04-03 17:10] 0crat commented on #62
@yegor256 please, ask @niyue to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-04-03 17:10] 0crat commented on #62
@yegor256 please, pay attention to this issue

[2017-04-03 17:11] yegor256 commented on #62
@niyue I believe the problem is solved, try version 0.8.1

[2017-04-03 17:11] #62 closed

[2017-04-03 17:14] yegor256 opened #65 ""wait" goal"
Let's introduce a new goal "wait", which will put the entire plugin on pause, until Ctrl-C is hit.

And let's remove "run".

[2017-04-03 17:21] yegor256 commented on #65
@rultor release, tag is `0.9`

[2017-04-03 17:22] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11309-291211931)

[2017-04-03 17:25] yegor256 commented on #64
@jherimum wait, I'm wrong, you provide credentials in `<configuration>` section of the plugin

[2017-04-03 17:36] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11309-291211931) (took me 14min)

[2017-04-03 17:40] #65 closed

[2017-04-03 17:40] yegor256 commented on #62
@niyue see #65 You need `wait` goal

[2017-04-03 18:19] jherimum commented on #64
Sorry @yegor256 i did not specified the region! everything works fine!
Thanks for the feedback!

Ps. I respect a lot your work man! After reading your posts i started to think OO from other perspective! And its causing a lot of trouble in my job. Its hard to explain to my work colleagues! LOL

[2017-04-28 06:14] yegor256 commented on #63
@rultor release tag is `0.9.1`

[2017-04-28 06:14] yegor256 commented on #63
@loic-seguin your PR #66 was merged, let me release a new version and ask you to try again

[2017-04-28 06:15] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11541-297916284)

[2017-04-28 06:27] rultor commented on #63
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11541-297916284) (took me 12min)

[2017-05-02 16:57] 0crat commented on #65
Oops! Job `gh:jcabi/jcabi-dynamodb-maven-plugin#65` was not in scope

[2017-05-15 17:30] wprice opened #67 "StreamSpecificationSupport -- CyclomaticComplexity"
I have a branch that adds streams support to the Tables class with associated tests etc.
[DynamoDB Streams](https://github.com/wprice/jcabi-dynamodb-maven-plugin/tree/jcabi-dynamodb-tables-streams)

The issue I am having is that adding the support to the class violates the PMD CyclomaticComplexity rule threshold of 10 (with a count of 13). I don't want to disable the rule but I can't see any way t

[2017-05-15 17:30] 0crat commented on #67
@yegor256 please, pay attention to this issue

[2017-05-16 06:11] yegor256 commented on #67
@wprice just suppress the rule and add a `@todo` marker, for the future. Someone will do the refactoring later and remove the marker. Read more about it here: http://www.yegor256.com/2009/03/04/pdd.html

[2017-05-18 16:55] wprice commented on #67
@yegor256 Thanks for the response.

The `@todo` is no problem, however I've tried various ways to suppress the rule with no luck. For clarification, running

`mvn -X clean install -Pqulice`

shows that it's a checkstyle error. Note it's already disabled in the PMD module at the Tables class level:

[code]
but any type of suppression I attempt to add

`@SuppressWarnings("checkstyle:cyclomaticcomple

[2017-05-18 16:56] wprice commented on #67
I also read the link you referenced but that seemed primarily about the `@todo` marker and not rule suppression.

[2017-05-23 17:12] wprice commented on #67
bump

[2017-07-18 10:05] yegor256 commented on #67
@wprice check this out: http://www.qulice.com/quality.html

[2017-09-26 15:11] vdzhuvinov opened #68 "UnsatisfiedLinkError: no sqlite4java-linux-amd64-1.0.392 in java.library.path"
Hi,
I would like to report an odd error. I setup pom.xml with the latest release. The plugin executes without any errors as configured, however, when trying to make a connection from within a test, an error complaining that an sqllite native .so cannot be found and loaded (on a Linux system) gets thrown:

[code]

Shouldn't `java.library.path` be set somewhere?

[2017-09-26 15:11] 0crat commented on #68
@yegor256 please, pay attention to this issue

[2017-10-04 11:45] yegor256 commented on #68
@vdzhuvinov this is really weird. Can you share your pom.xml so that I can test it too?

[2017-10-04 11:45] 0crat commented on #68
Job `gh:jcabi/jcabi-dynamodb-maven-plugin#68` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-04 11:48] vdzhuvinov commented on #68
Sure, here it is:

https://bitbucket.org/connect2id/dynamodb-cache-store/src/09f50e0328bdb76fdac63ecf08364b3d25dc2eaf/pom.xml?at=master&fileviewer=file-view-default

At present I start / stop the local DynamoDB manually.

[2017-11-14 14:33] 0crat commented on #68
@yegor256 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:33] 0crat commented on #68
@yegor256 resigned from `gh:jcabi/jcabi-dynamodb-maven-plugin#68`, please stop working.

[2018-02-23 06:30] 0pdd commented on #42
@dmarkov all puzzles are solved

[2018-02-23 06:42] 0pdd commented on #42
@dmarkov all puzzles are solved

[2018-04-12 04:36] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 05:36] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 06:36] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-27 13:37] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-02 23:36] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-03 12:43] yegor256 commented on #68
@0crat out

[2018-05-03 12:45] 0crat commented on #68
@yegor256 The job [#68](https://github.com/jcabi/jcabi-dynamodb-maven-plugin/issues/68) is now out of scope

[2019-06-03 20:02] jocull opened #72 "Ability to specify JVM flags, e.g. Xmx?"
[Due to ordering of `arguments` supplied in the pom](https://github.com/jcabi/jcabi-dynamodb-maven-plugin/blob/0d8fe9937f5c600a6dc683758ea6be98665739e5/src/main/java/com/jcabi/dynamodb/core/Instances.java#L155), I was unable to find a way to specify JVM flags directly to the DynamoDB instance. For example, `-Xmx1G` must come before the `-jar ...` option.

Do you have a suggestion of how to work ar

[2019-06-03 20:02] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-03 20:02] 0crat commented on #72
@jocull[/z](https://www.0crat.com/u/jocull) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-30 11:12] simonjenga opened #73 "JSR-303 validator failed to initialize"
[code]

[2019-11-30 11:12] 0crat commented on #73
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-30 11:12] 0crat commented on #73
@simonjenga[/z](https://www.0crat.com/u/simonjenga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-11 07:16] elruwen opened #74 "Can we get another official release?"
Hi!

There have been some bugfixes merged. Can we get another release published which includes those?

Cheers
Ruwen

[2019-12-11 07:16] 0crat commented on #74
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-11 07:16] 0crat commented on #74
@elruwen[/z](https://www.0crat.com/u/elruwen) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-16 21:16] yegor256 commented on #74
@rultor release, tag is `0.9.2`

[2019-12-16 21:36] yegor256 commented on #74
@rultor ping

[2019-12-16 22:00] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21061-566247016)

[2019-12-16 22:32] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21061-566247016) (took me 31min)

[2019-12-16 22:36] rultor commented on #74
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-12-17 15:25] yegor256 commented on #74
@elruwen version 0.9.2 is in Maven Central

[2019-12-17 15:25] #74 closed

[2019-12-17 15:52] 0crat commented on #74
Job `gh:jcabi/jcabi-dynamodb-maven-plugin#74` is not assigned, can't get performer

[2019-12-17 15:53] 0crat commented on #74
This job is not in scope

[2020-08-05 12:42] yegor256 commented on #73
@simonjenga what's wrong? I see the build is clean.

[2020-08-05 12:42] #73 closed

[2020-08-05 13:00] 0crat commented on #73
Job `gh:jcabi/jcabi-dynamodb-maven-plugin#73` is not assigned, can't get performer

[2020-08-05 15:12] simonjenga commented on #73
@yegor256 There is an issue with the Build:
```[ERROR] JSR-303 validator failed to initialize: Unable to instantiate Configuration. (see http://aspects.jcabi.com/jsr-303.html)```

It should be fixed like it was done here: https://github.com/jcabi/jcabi-http/issues/187

[2020-08-06 08:26] simonjenga commented on #73
@yegor256 This is where the problem is.
To fix it, we Bump parent to ```1.24``` by upgrading to ```jcabi 1.24```
The PR has been submitted at #75

[2022-08-11 06:32] yegor256 opened #81 "refresh"

[2022-08-12 03:51] yegor256 commented on #81
@rultor release, tag is `0.10.0`

[2022-08-12 03:51] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26496-1212703302)

[2022-08-12 03:57] yegor256 commented on #51
@mkordas fixed all

[2022-08-12 03:57] #51 closed

[2022-08-12 04:05] rultor commented on #81
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26496-1212703302) (spent 13min)

[code]

[2022-08-12 04:11] yegor256 commented on #81
@rultor release, tag is `0.10.0`

[2022-08-12 04:11] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26496-1212710960)

[2022-08-12 04:18] rultor commented on #81
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26496-1212710960) (spent 6min)

[code]

[2022-08-12 04:21] 0crat commented on #51
Job `gh:jcabi/jcabi-dynamodb-maven-plugin#51` is not assigned, can't get performer

[2022-08-12 04:29] yegor256 commented on #81
@rultor release, tag is `0.10.1`

[2022-08-12 04:30] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26496-1212718411)

[2022-08-12 04:44] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26496-1212718411) (took me 14min)

[2022-08-12 04:45] #81 closed

[2022-09-26 06:29] renovate[bot] opened #85 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.jcabi:DynamoDBLocal to v2014-10-07
 - [ ] Update dependency com.jcabi:jcabi to v1.35.0